/* The Universal Selector has been used here to cancel the browser default margins and */
/* padding for every page element.  This ensures that only assigned */
/* margin and padding values are implemented when viewing pages. */
* {margin:0;padding:0}

nav{background: rgba(140, 140, 140, 0.3);
    height:10vh;
}

body {
    background-image: url('../Images/car.jpg');
    background-size: cover;
  }

#carhome {
    height: 100vh;
    width: 100vh;
}

.navimgbuttons {
    height: 8vh;
    width: 8vh;
    padding: 1vh
}

#searchicon {
    float:right
}